<div class="flex justify-between items-center py-4">
  <div class="w-1/4">
    <a href="<%= homepage_path %>">
      <h1 class="text-3xl">Simple shop</h1>
    </a>
  </div>
  <div class="w-1/6 flex justify-around">
    <%= link_to 'Login', '/login', class: %w[p-3 bg-blue-700 text-white rounded-xl] %>
    <%= link_to 'Register', '/register', class: %w[p-3 bg-gray-300 rounded-xl] %>
  </div>
</div>
